{% extends 'base.html' %}
{% load static %}
{% block base %}


  <!-- ======= Header ======= -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>OLMOS SPORT KLUBIGA HUSH KELIBSIZ</h1>
          <h2></h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static 'img/kay1.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'img/cons.gif' %}" class="img-fluid" alt="" data-aos="zoom-in">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'img/cons2.gif' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'img/cons3.gif' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'img/cons4.gif' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'img/cons6.gif' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'img/cons7.gif' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>BIZ HAQIMIZDA</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p><h2>eng songi modeldagi trenajerlar</h2></p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>

            </p>
            <a href="#" class="btn-learn-more"></a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          <div class="image col-6 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
            <img src="{% static 'img/phil1.gif' %}" alt="" class="img-fluid">
          </div>



      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Hizmatlar</h2>
          <p>bizning hizmatlarimiz</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <img src="{% static 'img/cons.gif' %}" class="img-fluid" alt="" data-aos="zoom-in">
              <h4 class="title"><a href="">olmos sport klubi</a></h4>
              <p class="description">profisianal darajada trenirovkalar</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <img src="{% static 'img/cons.gif' %}" class="img-fluid" alt="" data-aos="zoom-in">
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <img src="{% static 'img/cons.gif' %}" class="img-fluid" alt="" data-aos="zoom-in">
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <img src="{% static 'img/cons.gif' %}" class="img-fluid" alt="" data-aos="zoom-in">
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= More Services Section ======= -->
    <section id="more-services" class="more-services">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>olmos sport klubi nimalar taklif qiladi</h2>
          <p><h3>bu yerda siz olmost sport klubi haqida kopro malumot olasi</h3></p>
          <p><h3>bu yerda 3-hil sport turi mavjud</h3></p>

        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card" style='background-image: url("assets/img/more-services-1.jpg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h3 class="card-title"><a href="">2 etaj</a></h3>
                <p class="card-text">quljangi va aralash sport turi mavjud siz hohlaga barcha sharoitla mavjud,dush kiyinish honasi</p>
                <div class="read-more"><a href="{% url 'QULJANGI' %}"><i class="bi bi-arrow-right"></i><h1>video va rasmlar kurish</h1></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card" style='background-image: url("assets/img/more-services-2.jpg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h3 class="card-title"><a href="">3-chi etaj body building</a></h3>
                <p class="card-text">eng songi turdagi trenajorlar ,hitoy davlatidan keltirilgan siz uzigizni chet el zallaridek tassavur qilasiz</p>
                <div class="read-more"><a href="{% url 'Bodybuild' %}"><i class="bi bi-arrow-right"></i><h1>video va rasmlar kurish</h1></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("assets/img/more-services-3.jpg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">3 etaj fitnes klubiniyam taklif etadi</a></h5>
                <p class="card-text">siz buyerda cardio mashqlarini bajarasi. masalan:yugurish velosipedda cardio qilish va lyjnikda</p>
                <div class="read-more"><a href="{% url 'Fitnes' %}"><i class="bi bi-arrow-right"></i><h1>video va rasmlar kurish</h1></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("assets/img/more-services-4.jpg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">olmos sport klubi haqida malumot</a></h5>
                <p class="card-text">olmos sport klubi 2021 yil 16martda ishga tushdi, aynan shu kuni Osioy ayegi nomini olgan Murod Hanturaev tashrifi boldi.</p>
                <div class="read-more"><a href="OlmosMarosimi"><i class="bi bi-arrow-right"></i><h1>ochilish marosimi video va rasmlari</h1></a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End More Services Section -->

    <!-- ======= Features Section ======= -->
    <!-- ======= Testimonials Section ======= -->
    <style>
      .testimonial-img{
       width:100px;
       height:100px;
      }
    </style>
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Trenajorlar</h2>
          <p><h4>trenajorlar haqida malumotlar</h4></p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for i in trenaj %}
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{{i.rasmi.url}}" class="testimonial-img" alt="">
                  <h3>{{i.nomi}}</h3>
                  <p>
                  <h4>{{i.ishlash}}</h4>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->
    <style>
      .img-fluid1{
      width:100%;
      height:280px;
      }
    </style>
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Rasmlar</h2>
          <p><h4>olmos sport klubi sayti</h4></p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-12 d-flex justify-content-center">
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/hur.jpg' %}" class="img-fluid1" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{% static 'img/phil1.gif' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'img/ilhom.jpg' %}" class="img-fluid1" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{% static 'img/ron1.gif' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/AbHr.jpg' %}" class="img-fluid1" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{% static 'img/phil2.gif' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'img/AbRoz.jpg' %}" class="img-fluid1" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="{% static 'img/phil3.gif' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'img/qahramon.jpg' %}" class="img-fluid1" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{% static 'img/arni2.gif' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/3kishi.jpg' %}" class="img-fluid1" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{% static 'img/jay1.gif' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>



        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Jamoa</h2>
          <p>Olmos sport klubi ishchilari</p>
        </div>


        <div class="row">
          {% for i in ishchilar%}

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{{i.rasm.url}}" class="img-fluid" alt="">
                <h2>{{i.title}}</h2>
                <p>{{i.nomer}}</p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/p/CYhE1ozs8dR/?utm_medium=copy_link"><i class="bi bi-instagram"></i></a>
                  <a href="https://t.m/Bahteee7" class="telegram" target="_blank"><i class="bi bi-telegram"></i></a>

                </div>
              </div>
              </div>
            </div>
            {% endfor %}

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Narhlar</h2>
          <p>olmos sport klubi narhlari</p>
        </div>

        <div class="row offset-3">


          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
              <h3>3 etaj</h3>
              <h2>kun ora kelish</h2>
              <h4>150ming som<span><h4>1 oyga</h4></span></h4>
                <h2>har kuni kelish</h2>
              <h4>250ming som<span><h4>1 oyga</h4></span></h4>
                <h2>kunlik kelish</h2>
              <h4>15ming som<span><h4>1 kunga</h4></span></h4>
              <div class="btn-wrap">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
              <h3>3 etaj</h3>
              <h2></h2>

                <h2>har kuni kelish</h2>
              <h4>650ming som<span><h4>6 oyga</h4></span></h4>
                <h2>har kun kelish</h2>
              <h4>1 milion<span><h4>1 yilga</h4></span></h4>
                <h2>kunlik kelish</h2>
              <h4>15ming som<span><h4>1 kunga</h4></span></h4>
              <div class="btn-wrap">
              </div>
            </div>
          </div>



        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Hardoimgi beriladigan savollar</h2>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>qanday tez natijalarga erishsa boladi</h4>
          </div>
          <div class="col-lg-7">
            <p>
             1 yrinda maqsad quyesh, inson ox ozini ruhlantirishi lozim, murabbiy bilan ishlash, hamda tog'ri ovqatlanish
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>mashqlar tartibi qanday boladi</h4>
          </div>
          <div class="col-lg-7">
            <p>
             asosiy baza tartib, 1-kuni yani dushanba (kokrak-4ta mashq va qul orqasi "tricips" 4 mashq) jami 1 soat. 2-kuni yani chorshanba(qanot 4-ta mashq va qul oldi "biseps" 4-ta mashq) umumiy 1-soat. 3-chi kuni yani juma(elka 4-ta mashq va oyoq 3-tamashq) jami 1 soat
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>har kuni keladiganlar uchun</h4>
          </div>
          <div class="col-lg-7">
            <p>
              har kunlik mashqkar vaqti 40 min da oshmasligi lozim hamda harkuni tana 1 qismi mushakiga mashq qilinadi. masalan: dushanba-kokrak, seshanba-qanot,chorshanba-qul oldi,payshanba-qul orqasi,juma-elka,shanba-oyoq.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>agar haftada 1 yoki 2 marta kelsaiz</h4>
          </div>
          <div class="col-lg-7">
            <p>
              1soat 20min taklif etiladi.  3-ta gacha tana bulingan mushaklariga mashq qilasiz. masalan: kokrak,qul-oldi va orqasi, keyingi safar, qanot, elaka va oyoq
            </p>
          </div>
        </div><!-- End F.A.Q Item-->


      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>joylashuv kartasi</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>OLOMOS</h3>
              <div class="social-links">
                <a href="#" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/p/CYhE1ozs8dR/?utm_medium=copy_link" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://t.me/Bahteee7" class="instagram" target="_blank"><i class="bi bi-telegram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>A108 Adam Street<br>New York, NY 535022</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  {% endblock %}


